body {
	background-color:#666;
	font-family:Verdana, Geneva, sans-serif;
}

#container{
	background-color:#FFF;
	width:900px; 
	margin:0px auto;
	padding:5px 20px 20px 20px;
	box-shadow:0px 0px 20px 0px #333333;
}

#codeContainer{
	width: 650px;
    border-width: 1px;
	border-style: dotted;
}

#results{
	display: none;
	padding-top: 50px;
}