body {
	background-color:#666;
	font-family:Verdana, Geneva, sans-serif;
}

#container{
	background-color:#FFF;
	width:900px; 
	margin:0px auto;
	padding:5px 20px 20px 20px;
	box-shadow:0px 0px 20px 0px #333333;
}

#code{
	border-style: dotted;
    border-width: 1px;
    font-size: 12px;
    font-family: "Lucida Console";
}

#results{
	display: none;
	padding-top: 50px;
}