body {
	background-color:#666;
	font-family:Verdana, Geneva, sans-serif;
}

.label{
	font-size: 12px;
}

#container{
	background-color:#FFF;
	width:900px; 
	margin:0px auto;
	padding:5px 20px 20px 20px;
	box-shadow:0px 0px 20px 0px #333333;
}

#codeContainer{
	width: 74%;
    border-width: 1px;
	border-style: dotted;
	float: left;
}

#codeInput{
float: right;
width: 25%;
}

#inputContainer{
	padding-top: 20px;
}

#outputContainer{
	clear: both;
	padding-top: 20px;
}

#results{
	display: none;
	padding-top: 50px;
}

/* dual list box */
.filter, .filter form-control {
	display: none !important;
}