/* General styles */
.label{
	font-size: 12px;
}

#container{
	background-color:#FFF;
	width:1100px; 
	margin:0px auto;
	padding:5px 20px 20px 20px;
	box-shadow:0px 0px 20px 0px #333333;
}

#banner{
	text-align: center;
}

#bannerRight{
	float: right;
	clear: both;
}

#bannerRight .submit{
	float: right;
}

/* Progress bar */

#progress{
	padding-right: 110px;
}

#pbar_outer{
	width: 300px; 
	height: 20px; 
	border: 1px solid grey; 
	z-index: 1; 
	position: relative; 
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#pbar_inner{
	background-color: lightblue; 
	z-index: 2; 
	height: 100%; 
	width: 0%;
}

#pbar_inner_txt{
	z-index: 3; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
	color: black; 
	font-weight: bold; 
	text-align: center;
}

/* Inputs: coding; */
.codeContainer{
	width: 54%;
    border-width: 1px;
	border-style: dotted;
	float: left;
}

.inputContainer{
	padding-top: 20px;
}

.codeInput{
	float: right;
	width: 42%;
}

/* Inputs: multiple choice */
.mcOptions{
	padding-top: 20px;
	float: right;
	width: 43%;
	font-family: monospace;
}


/* Outputs: coding; */
.outputContainer{
	clear: both;
	padding-top: 20px;
}

.results{
	display: none;
	padding-top: 25px;
}


/* Navigation */
#nav{
	padding: 10px 0px 10px 0px;
	display: block;
	clear: both;
}

#navBLeft{
	float: left;
	font-weight: bold;
}
 
#navBRight{
	float: right;
	font-weight: bold;
}

#navShortcutContainer{
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.navShortcutElement{
	background-color: #ddd;
	padding: 3px 7px 3px 7px;
	margin-left: 10px;
	font-size: 12px;
	cursor: pointer;
}

.selected{
    border-width: 2px;
	border-style: dotted;
}

/* Commiting */
.committed{
	background-color: #9c8;
}

.commit{
	position: absolute; 
	bottom: 0;
	right: 0;
}

/* Wildcard selector for all questionContainer# ids */
*[id^='questionContainer']{
	clear: both;
    padding-top:20px;
    display: none;
    overflow: hidden;
    position: relative
}

/* Wildcard selector for all questionContainer# ids */
*[id^='problemStatement']{
    padding-bottom:15px;
}

/* Modal/Dialog */
#idStatus{
	display: none;
	padding-top: 20px;
	font-size: 10px;
	color: #e88;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

/* Buttons */
.button{
	cursor:pointer;
	border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 7px 10px 7px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
	background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
	background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
	background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
	background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
	background-image: -o-linear-gradient(top, #d3d3d3, #707070);
	background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.button:hover{
	cursor:pointer;
	border:1px solid #a0a0a0;
	background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
	background-image: -webkit-linear-gradient(top, #bababa, #575757);
	background-image: -moz-linear-gradient(top, #bababa, #575757);
	background-image: -ms-linear-gradient(top, #bababa, #575757);
	background-image: -o-linear-gradient(top, #bababa, #575757);
	background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

.button_disable{
	cursor:not-allowed;
	border:1px solid #a0a0a0; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 7px 10px 7px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #444;
	background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
	background-image: -webkit-linear-gradient(top, #bababa, #575757);
	background-image: -moz-linear-gradient(top, #bababa, #575757);
	background-image: -ms-linear-gradient(top, #bababa, #575757);
	background-image: -o-linear-gradient(top, #bababa, #575757);
	background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}