.label{
	font-size: 12px;
}

#container{
	background-color:#FFF;
	width:900px; 
	margin:0px auto;
	padding:5px 20px 20px 20px;
	box-shadow:0px 0px 20px 0px #333333;
}

#banner{
	text-align: center;
}

.codeContainer{
	width: 74%;
    border-width: 1px;
	border-style: dotted;
	float: left;
}

.codeInput{
float: right;
width: 25%;
}

.inputContainer{
	padding-top: 20px;
}

.outputContainer{
	clear: both;
	padding-top: 20px;
}

.results{
	display: none;
	padding-top: 25px;
}

#nav{
	padding: 10px 0px 10px 0px;
	display: block;
}

#navBLeft{
	float: left;
	font-weight: bold;
}

#navBRight{
	float: right;
	font-weight: bold;
}

#navShortcutContainer{
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.navShortcutElement{
	background-color: #ddd;
	padding: 3px 7px 3px 7px;
	margin-left: 10px;
	font-size: 12px;
}

.committed{
	background-color: #9c8;
}

.commitB{
	float:right;
}

/* Wildcard selector for all questionContainer# ids */
*[id^='questionContainer']{
    padding-top:20px;
    display: none;
}