body {
	background-color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 13px;
}

.hidden {
	display: none;
}

#container{
	background-color:#FFF;
	width:1100px; 
	margin:0px auto;
	padding:5px 20px 20px 20px;
	box-shadow:0px 0px 20px 0px #333333;
	overflow: auto;
}


.canSelect {
	color: #86b796 !important;
	cursor: pointer;
	font-weight: normal;
}

.link {
	text-decoration: underline;
	font-weight: bold !important;

}

#format {
	font-size: 11px;
}

#fileDetails {
	padding-bottom: 20px;
}

#uploadBtn {
	margin-top: 60%;
}

.tabDiv {
	float: left;
	width: 19%;
	height: auto;
}

#workDiv, #manageFilesDiv {
	float: right;
	width: 80%;
	height: auto;
	padding-left: 10px;
	border-left: 1px dotted;
}

#note {
	font-size: 11px;
}

#descDiv {
	padding-bottom: 20px;
}

#code {
	width: 880px;
	height: 900px;
}

#codeEx {
	width: 1100px;
	height: 550px;
}

#editFile {
	width: 750px;
	height: 450px;
}